### pip install --upgrade pandas
#or
#!conda update pandas

In [5]:
import pandas as pd

In [7]:
pd.__version__

'1.0.3'

In [74]:
import pandas as pd
from pathlib import Path
ROI_dir_name = 'ROI'

logs_output = pd.DataFrame()

ROI_path = Path(ROI_dir_name)
for file in ROI_path.glob('Pos*-*.txt'):
    data = pd.read_csv(file, delimiter='\s+')
    #delete the duplicate frame here?
    data.insert(0,'name',file.stem)
    logs_output = logs_output.append(data, ignore_index=True)
        
logs_output['frame'] = (logs_output['Label'].str.extract(r'tif.[0-9]{1,4}-[0-9]{1,4}-[0-9]{1,4}:(?P<frame>\d{1,3})')).astype(int)
logs_output[['Position','cell_id']] = logs_output['name'].str.extract(r'(?P<Pos>Pos[0-9]{1,3})-(?P<id>[0-9]{1,3})')
logs_output_data = logs_output.drop_duplicates(subset=['name', 'frame'],keep='last',ignore_index=True)

duplicateRowsDF = logs_output[logs_output.duplicated(subset=['name', 'frame'],keep='last')]
#duplicateRowsDF = logs_output[logs_output.duplicated(subset=['name', 'frame'],keep=False)]
print("Duplicate Rows based on a single column are:", duplicateRowsDF, sep='\n')

Duplicate Rows based on a single column are:
            name                              Label  Area         X        Y  \
98    Pos001-002  Pos001CFP-2.tif:0029-0695-0590:29   360   590.408  696.250
99    Pos001-002  Pos001CFP-2.tif:0030-0681-0635:30   176   635.574  681.489
901   Pos001-015  Pos001CFP-1.tif:0026-0534-1018:26     1  1018.500  534.500
1175  Pos001-019  Pos001CFP-2.tif:0073-0416-0522:73   610   522.495  416.569
1892  Pos002-006  Pos002CFP-2.tif:0073-0335-0587:73   319   586.472  335.133
2177  Pos002-010  Pos002CFP-2.tif:0073-0777-0113:73   326   113.218  777.270
2392  Pos003-002    Pos003CFP.tif:0073-0321-0314:73   257   314.609  320.757
2821  Pos003-008    Pos003CFP.tif:0073-0223-0724:73   262   723.534  222.496

      Division  frame Position cell_id
98           0     29   Pos001     002
99           0     30   Pos001     002
901          0     26   Pos001     015
1175         0     73   Pos001     019
1892         0     73   Pos002     006
2177         0     73   Pos002     010
2392         0     73   Pos003     002
2821         0     73   Pos003     008

In [76]:
logs_output_data.head()

,name,Label,Area,X,Y,Division,frame,Position,cell_id
0,Pos001-001,Pos001CFP-2.tif:0001-0651-0302:1,473,302.196,651.117,0,1,Pos001,001
1,Pos001-001,Pos001CFP-2.tif:0002-0688-0324:2,436,324.420,688.135,0,2,Pos001,001
2,Pos001-001,Pos001CFP-2.tif:0003-0692-0335:3,472,334.661,691.919,1,3,Pos001,001
3,Pos001-001,Pos001CFP-2.tif:0004-0680-0328:4,317,328.197,679.162,0,4,Pos001,001
4,Pos001-001,Pos001CFP-2.tif:0005-0672-0317:5,190,317.247,672.684,0,5,Pos001,001

In [86]:
group = logs_output_data.groupby(by=['Position','frame'])
group.describe()

                Area                                                        \
               count        mean         std    min     25%    50%     75%
Position frame
Pos001   1      12.0  468.416667   49.995379  417.0  432.75  462.0  483.25
         2      12.0  383.000000   55.752701  251.0  360.25  386.0  422.50
         3      18.0  409.833333   65.304941  293.0  369.00  410.0  448.25
         4      21.0  299.380952  122.545696  156.0  204.00  242.0  399.00
         5      23.0  260.782609  101.964770  148.0  195.00  241.0  266.00
...              ...         ...         ...    ...     ...    ...     ...
Pos003   69     10.0  268.500000   35.381257  206.0  247.75  278.5  295.50
         70     10.0  273.500000   35.534803  213.0  247.00  278.0  294.00
         71     10.0  277.000000   32.155870  214.0  267.00  271.0  298.75
         72     10.0  278.300000   34.338349  216.0  260.75  275.5  300.75
         73     10.0  277.000000   33.206425  237.0  254.00  262.0  309.25

                          X              ...          Y          Division  \
                  max count        mean  ...        75%      max    count
Position frame                           ...
Pos001   1      596.0  12.0  427.961750  ...  503.60450  651.117     12.0
         2      446.0  12.0  436.421750  ...  504.57450  688.135     12.0
         3      540.0  18.0  436.715889  ...  496.94700  692.517     18.0
         4      534.0  21.0  437.572333  ...  487.20100  698.899     21.0
         5      524.0  23.0  456.654217  ...  482.93250  691.783     23.0
...               ...   ...         ...  ...        ...      ...      ...
Pos003   69     309.0  10.0  532.500100  ...  407.77800  603.182     10.0
         70     326.0  10.0  530.444600  ...  405.40075  612.718     10.0
         71     322.0  10.0  529.124400  ...  403.52875  617.275     10.0
         72     329.0  10.0  527.516100  ...  396.28200  618.797     10.0
         73     327.0  10.0  529.286100  ...  395.75750  621.416     10.0


                    mean       std  min  25%  50%  75%  max
Position frame
Pos001   1      0.000000  0.000000  0.0  0.0  0.0  0.0  0.0
         2      0.000000  0.000000  0.0  0.0  0.0  0.0  0.0
         3      0.666667  0.485071  0.0  0.0  1.0  1.0  1.0
         4      0.333333  0.483046  0.0  0.0  0.0  1.0  1.0
         5      0.173913  0.387553  0.0  0.0  0.0  0.0  1.0
...                  ...       ...  ...  ...  ...  ...  ...
Pos003   69     0.000000  0.000000  0.0  0.0  0.0  0.0  0.0
         70     0.000000  0.000000  0.0  0.0  0.0  0.0  0.0
         71     0.000000  0.000000  0.0  0.0  0.0  0.0  0.0
         72     0.000000  0.000000  0.0  0.0  0.0  0.0  0.0
         73     0.000000  0.000000  0.0  0.0  0.0  0.0  0.0

[219 rows x 32 columns]

In [47]:
group_by_position = logs_output_data.groupby(by=['Position'])
position_count = group_by_position.count()
position_count

          name  Label  Area     X     Y  Division  frame  cell_id
Position
Pos001    1459   1459  1459  1458  1458      1459   1459     1459
Pos002     787    787   787   787   787       787    787      787
Pos003     712    712   712   712   712       712    712      712

In [87]:
(logs_output_data.groupby(['Position','frame']).size().sort_values(ascending=False).reset_index(name='count').drop_duplicates(subset='frame'))

   Position  frame  count
0    Pos001     14     23
1    Pos001     15     23
2    Pos001      5     23
3    Pos001      6     23
4    Pos001      7     23
..      ...    ...    ...
68   Pos001     71     17
69   Pos001     70     17
70   Pos001     73     16
71   Pos001      1     12
72   Pos001      2     12

[73 rows x 3 columns]

In [52]:
logs_output_data.groupby(by=['Position'])['name'].nunique()

Position
Pos001    23
Pos002    11
Pos003    10
Name: name, dtype: int64

In [62]:
atest = logs_output_data.groupby(by=['Position'])['name'].unique()
atest

Position
Pos001    [Pos001-001, Pos001-002, Pos001-003, Pos001-00...
Pos002    [Pos002-001, Pos002-002, Pos002-003, Pos002-00...
Pos003    [Pos003-001, Pos003-002, Pos003-003, Pos003-00...
Name: name, dtype: object

In [63]:
atest.tolist()

[array(['Pos001-001', 'Pos001-002', 'Pos001-003', 'Pos001-004',
        'Pos001-005', 'Pos001-006', 'Pos001-007', 'Pos001-008',
        'Pos001-009', 'Pos001-010', 'Pos001-011', 'Pos001-012',
        'Pos001-013', 'Pos001-014', 'Pos001-015', 'Pos001-016',
        'Pos001-017', 'Pos001-018', 'Pos001-019', 'Pos001-020',
        'Pos001-021', 'Pos001-022', 'Pos001-023'], dtype=object),
 array(['Pos002-001', 'Pos002-002', 'Pos002-003', 'Pos002-004',
        'Pos002-005', 'Pos002-006', 'Pos002-007', 'Pos002-008',
        'Pos002-009', 'Pos002-010', 'Pos002-011'], dtype=object),
 array(['Pos003-001', 'Pos003-002', 'Pos003-003', 'Pos003-004',
        'Pos003-005', 'Pos003-006', 'Pos003-007', 'Pos003-008',
        'Pos003-009', 'Pos003-010'], dtype=object)]

In [60]:
unique_position = logs_output_data['Position'].unique()
unique_position

array(['Pos001', 'Pos002', 'Pos003'], dtype=object)

In [41]:
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
np.__version__, matplotlib.__version__

('1.16.5', '3.1.1')

In [ ]:
plt.clf()

In [ ]:
for x,y in zip(X,Y)
annotate

In [89]:
grouped_dfa = logs_output_data.groupby(['Position','frame'])
for key, item in grouped_dfa:
    print(key)

('Pos001', 1)
('Pos001', 2)
('Pos001', 3)
('Pos001', 4)
('Pos001', 5)
('Pos001', 6)
('Pos001', 7)
('Pos001', 8)
('Pos001', 9)
('Pos001', 10)
('Pos001', 11)
('Pos001', 12)
('Pos001', 13)
('Pos001', 14)
('Pos001', 15)
('Pos001', 16)
('Pos001', 17)
('Pos001', 18)
('Pos001', 19)
('Pos001', 20)
('Pos001', 21)
('Pos001', 22)
('Pos001', 23)
('Pos001', 24)
('Pos001', 25)
('Pos001', 26)
('Pos001', 27)
('Pos001', 28)
('Pos001', 29)
('Pos001', 30)
('Pos001', 31)
('Pos001', 32)
('Pos001', 33)
('Pos001', 34)
('Pos001', 35)
('Pos001', 36)
('Pos001', 37)
('Pos001', 38)
('Pos001', 39)
('Pos001', 40)
('Pos001', 41)
('Pos001', 42)
('Pos001', 43)
('Pos001', 44)
('Pos001', 45)
('Pos001', 46)
('Pos001', 47)
('Pos001', 48)
('Pos001', 49)
('Pos001', 50)
('Pos001', 51)
('Pos001', 52)
('Pos001', 53)
('Pos001', 54)
('Pos001', 55)
('Pos001', 56)
('Pos001', 57)
('Pos001', 58)
('Pos001', 59)
('Pos001', 60)
('Pos001', 61)
('Pos001', 62)
('Pos001', 63)
('Pos001', 64)
('Pos001', 65)
('Pos001', 66)
('Pos001', 67)
('Pos001', 68)
('Pos001', 69)
('Pos001', 70)
('Pos001', 71)
('Pos001', 72)
('Pos001', 73)
('Pos002', 1)
('Pos002', 2)
('Pos002', 3)
('Pos002', 4)
('Pos002', 5)
('Pos002', 6)
('Pos002', 7)
('Pos002', 8)
('Pos002', 9)
('Pos002', 10)
('Pos002', 11)
('Pos002', 12)
('Pos002', 13)
('Pos002', 14)
('Pos002', 15)
('Pos002', 16)
('Pos002', 17)
('Pos002', 18)
('Pos002', 19)
('Pos002', 20)
('Pos002', 21)
('Pos002', 22)
('Pos002', 23)
('Pos002', 24)
('Pos002', 25)
('Pos002', 26)
('Pos002', 27)
('Pos002', 28)
('Pos002', 29)
('Pos002', 30)
('Pos002', 31)
('Pos002', 32)
('Pos002', 33)
('Pos002', 34)
('Pos002', 35)
('Pos002', 36)
('Pos002', 37)
('Pos002', 38)
('Pos002', 39)
('Pos002', 40)
('Pos002', 41)
('Pos002', 42)
('Pos002', 43)
('Pos002', 44)
('Pos002', 45)
('Pos002', 46)
('Pos002', 47)
('Pos002', 48)
('Pos002', 49)
('Pos002', 50)
('Pos002', 51)
('Pos002', 52)
('Pos002', 53)
('Pos002', 54)
('Pos002', 55)
('Pos002', 56)
('Pos002', 57)
('Pos002', 58)
('Pos002', 59)
('Pos002', 60)
('Pos002', 61)
('Pos002', 62)
('Pos002', 63)
('Pos002', 64)
('Pos002', 65)
('Pos002', 66)
('Pos002', 67)
('Pos002', 68)
('Pos002', 69)
('Pos002', 70)
('Pos002', 71)
('Pos002', 72)
('Pos002', 73)
('Pos003', 1)
('Pos003', 2)
('Pos003', 3)
('Pos003', 4)
('Pos003', 5)
('Pos003', 6)
('Pos003', 7)
('Pos003', 8)
('Pos003', 9)
('Pos003', 10)
('Pos003', 11)
('Pos003', 12)
('Pos003', 13)
('Pos003', 14)
('Pos003', 15)
('Pos003', 16)
('Pos003', 17)
('Pos003', 18)
('Pos003', 19)
('Pos003', 20)
('Pos003', 21)
('Pos003', 22)
('Pos003', 23)
('Pos003', 24)
('Pos003', 25)
('Pos003', 26)
('Pos003', 27)
('Pos003', 28)
('Pos003', 29)
('Pos003', 30)
('Pos003', 31)
('Pos003', 32)
('Pos003', 33)
('Pos003', 34)
('Pos003', 35)
('Pos003', 36)
('Pos003', 37)
('Pos003', 38)
('Pos003', 39)
('Pos003', 40)
('Pos003', 41)
('Pos003', 42)
('Pos003', 43)
('Pos003', 44)
('Pos003', 45)
('Pos003', 46)
('Pos003', 47)
('Pos003', 48)
('Pos003', 49)
('Pos003', 50)
('Pos003', 51)
('Pos003', 52)
('Pos003', 53)
('Pos003', 54)
('Pos003', 55)
('Pos003', 56)
('Pos003', 57)
('Pos003', 58)
('Pos003', 59)
('Pos003', 60)
('Pos003', 61)
('Pos003', 62)
('Pos003', 63)
('Pos003', 64)
('Pos003', 65)
('Pos003', 66)
('Pos003', 67)
('Pos003', 68)
('Pos003', 69)
('Pos003', 70)
('Pos003', 71)
('Pos003', 72)
('Pos003', 73)